input {
    border-radius: 8px; 
    border: none;
    padding: 6px 16px;
    outline: none;
}

button {
    border-radius: 6px;
    border: none;
    padding: 4px 10px;
    margin-left: 5px;

    &:hover {
        background-color: rgb(250, 250, 181);
        color: gray;
        cursor:pointer;
    }
}

li {
    padding-bottom: 8px;
    display: flex;
}

.title {
    text-align: center;
    margin: 0 ;
    font-weight: bold;
    color: rgb(109, 104, 104);
}

.input__area {
    background-color: rgb(160, 224, 247);
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 6px;
    border-radius: 8px;
}

.todo__area {
    background-color: rgb(155, 255, 255);
    width: 400px;
    padding: 8px;
    margin: 6px;
    min-height: 100px;
    border-radius: 8px;
    
}

.finish__area {
    background-color: rgb(155, 255, 185);
    width: 400px;
    padding: 8px;
    margin: 6px;
    min-height: 100px;
    border-radius: 8px; 
}

img {
    width: 100%;
    margin: 0 0 0 -20px;
    display: none;
}